<!DOCTYPE html>
<html>
  <head>
    <title>Organa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.rebelURL = "<%= image_url('rebel_logo.png') %>"
    </script>
    <script type="text/javascript">
      window.asanaSplashURL = "<%= image_url('asana_splash.png') %>"
    </script>
    <script type="text/javascript">
      window.leiaURL = "<%= image_url('leia_profile.png') %>"
    </script>
    <script type="text/javascript">
      window.hamburgerURL = "<%= image_url('Hamburger.png') %>"
    </script>
    <script type="text/javascript">
      window.dotsURL = "<%= image_url('Dots.png') %>"
    </script>
    <script type="text/javascript">
      window.homeURL = "<%= image_url('home.png') %>"
    </script>
    <script type="text/javascript">
      window.checkURL = "<%= image_url('check.png') %>"
    </script>
    <script type="text/javascript">
      window.clipboardURL = "<%= image_url('clipboard.png') %>"
    </script>
    <script type="text/javascript">
      window.arrowURL = "<%= image_url('arrow.png') %>"
    </script>
    <script type="text/javascript">
      window.sidebarImgURL = "<%= image_url('sidebar.png') %>"
    </script>
    <script type="text/javascript">
      window.tileURL = "<%= image_url('tile.png') %>"
    </script>
    <script type="text/javascript">
      window.dotsGreyURL = "<%= image_url('Dots-grey.png') %>"
    </script>
    <script type="text/javascript">
      window.fileBoxURL = "<%= image_url('file.png') %>"
    </script>
    <script type="text/javascript">
      window.documentURL = "<%= image_url('document.png') %>"
    </script>
    <script type="text/javascript">
      window.onlyCheckURL = "<%= image_url('onlyCheck.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
